body {
	margin-top: 0;
	padding: 0;
	color: blue;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	line-height: 1.7em; 
	background-color: #CCFFFF;
	text-align:justify;
    text-justify:inter-word;
}
#footp{
	color: white;
	margin-right: 200px;
}
.active a:visited{
background-color:red;
color:green;
}
a, a:link, a:visited { 
	color: #6eb5ff; 
	font-weight: normal; 
	text-decoration: underline; 
	font-size: 12px; 
}

a:hover { 
	text-decoration: none; 
}

a.more { 
	display: block; 
	width: 122px; 
	height: 26px; 
	padding: 2px 20px 0 0; 
	font-size: 12px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url(images/continue.png) no-repeat top center; 
	color: #7095b5; 
}
p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { 
	border: none; 
}

cite { 
	font-weight: bold; 
	color:#3d8e7d; 
}

cite span { 
	color: #3d8e7d; 
}

em { 
	color: #000; 
}

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #000; 
	padding: 3px; 
	background: none; 
	margin-bottom: 5px; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.tooplate_list { 
	margin: 20px 0 20px 10px; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color: white; 
	margin: 0; 
	width: 220px;
	height: 25px;
	padding: 0 0 5px 20px;  
}
.tooplate_list li a { 
	color:black;
	margin-top: 5px;
	margin-left: 15px;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none; 
}
	
.tooplate_list li a:hover {
 	color:white; 
	margin-left: 15px;
	position: absolute;
	text-decoration: underline; 
}

#tooplate_wrapper { 
	margin: 0 auto; 
	width: 1300px; 
	padding: 0 10px;
}

#tooplate_header { 
	width: 1300px; 
	height: 140px;	
	margin-top:10px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background: url(images/b.png) top center no-repeat; /*to insert the banner */
}

#site_title { 
	float: center; 
	display: block; 
	color: white;
}
#hheader{
background: url(images/b.png) top center no-repeat; /*to insert the banner */
}

#site_title h1 { 
	margin: 0; 
	padding: 30px 0 0 260px; 
}

#site_title h1 a { 
	display: block; 
	width: 200px; 
	height: 42px; 
	color: white; 
	text-indent: -10000px;
}

/* menu */

#tooplate_menu { 
	clear: both; 
	width: 1300px; 
	height: 50px; 
	background-color: #00669C;
	border-top: 1px solid #1296E9;
	border-bottom: 1px solid #1296E9;
}

#tooplate_menu ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#tooplate_menu ul li { 
	padding: 0; 
	margin: 0; 
	display: inline; 
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	position: relative;
	font-size: 13px;
	color: #F2F2FF;
	text-align: center;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 700;
	outline: none;
}
#tooplate_menu ul li ul li a{
	height: 35px;
}

#tooplate_menu ul li a:hover{
	line-height: 50px;
	color: black;
	text-align: center;
	position: relative;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #3399FF;
}
.active a:active{
	background-color: white;	
}
/* end of menu */

#tooplate_main {
	clear: both;
	width: 1260px;
	color:black;
	font-family:cambria;
	font-size:14px;
	padding: 20px;
    background-color: white;
}

#tooplate_content {
	float: left;
	width: 800px;	
}

#homepage_slider {
	width: 580px;
	height: 250px;
	padding: 10px;
	margin-bottom: 30px; 
	overflow: hidden;
}

.post_box { 
	margin-bottom: 40px; 
	padding-bottom: 40px; 
	margin-right: 50px;
	font-size: 15px;
}

.post_box_last { 
	padding-bottom: 0; 
	margin-bottom: 0; 
	border-bottom: none; 
}

.post_comment { 
	color: #081e30; 
	font-weight: bold; 
}

.post_box_right { 
	float: right; 
	border-radius: 12px;
	width: 450px; 
}

.post_box_right img {
	width: 450px;
	height: 180px;
	margin-bottom: 10px;
}

.post_box h2 {
	margin: 0;
	padding: 10px 0 10px 0;
	line-height: 30px;
}

.post_box .post_meta {
	padding: 5px;
	margin-bottom: 20px;
}

.post_box p {
	text-align: justify;
	margin-bottom: 20px;
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 578px;
}

.first_level {
	margin: 0; padding: 0;
}

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background: #021321;
	border: 1px solid #000;
}

#comment_form form label { 
	color: #000; 
}

#comment_form textarea {
	background: #072238 none repeat fixed 0 0;
	border: 1px solid #000;
	display:block;
	height:150px;
	color: #fff;	
	margin-top: 5px;
	padding: 5px;
	width: 540px;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	margin-top: 5px;
	padding: 5px;
	width: 200px;
	color: #fff;
	background-image:url(image/123.jpg);
	border: 1px solid #000;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}
#comment_form .submit_btn {
	width: 90px;
	font-weight: bold;
	color: #000;
	cursor: pointer;
}
#tooplate_sidebar {
	float: right;
	width: 250px;
}

.sidbar_box {
	background-image: url(image/12.jpg);
}

#contact_form { 
	padding: 0; 
	width: 400px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 260px; 
	color: #000; 
	padding: 5px; 
	margin-left: 50px;
	border: 1px solid #102a61;  
	background-image:url(image/images.png);
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px;
}
#inpu{
	color: #000;
	background:black;
	width: 230px;
	padding:6px;
	background: #021321; 
	font-family: Verdana,Geneva,sans-serif;
    font-size: 13px;
	border: 1px solid #102a61;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-left: 50px;
	margin-right: 10px; 
	font-size: 14px; 
	color: #000; 
	font-weight: bold;
}

#contact_form form textarea { 
	width: 388px; 
	height: 200px; 
	padding: 5px; 
	color: #fff; 
	border: 1px solid #102a61;  
	background-image:url(image/images.png);
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px; 
}

#contact_form form .submit_btn { 
	margin: 5px 0px;
	padding: 5px 14px; 
	text-decoration: none; 
	border: 1px solid #102a61;  
	background: #021321; 
	font-size: 14px;  
	color: #fff;
}
.submit_btn{
	border:2px solid #102a61;  
	background: #021321; 
	padding: 6px 12px; 
	font-size: 14px;  
	color: #fff;
	margin: 40px 70px;
}
#footp{
		margin-top:0px;
		}
#tooplate_footer_wrapper {
	clear: both;
	color:black;
	width: 600px;
	padding-top:3px;
	margin-top: 3px;
	border-bottom-right-radius: 200px;
	border-bottom-left-radius: 200px;
	background-color:#0066AA;
}

#tooplate_footer {
	clear: both;
	width: 900px;
	padding: 30px;
}

#tooplate_footer .col_w280 {
	float: left;
	width: 280px;
	margin-right: 30px;
}
#tooplate_copyright a{
					float: left;
					margin-left:30px;
					}
#tooplate_footer .last_col { 
	margin: 0; 
}
#tooplate_copyright {
	clear: both;
	width: 960px;
	height: 35px;
	padding: 15px 0 0;
	text-align: center;
}
#vie{
padding-left:30%;
}
#tooplate_menu li ul{
	position:absolute;
	background-color:#00669C ;
	border-bottom: 1px solid #1296E9;
	border-left: 1px solid #1296E9;
	border-right: 1px solid #1296E9;
	left:-999em;   /*used to make hidden the link*/
	}
#tooplate_menu li{
				float:left;
				}	
#tooplate_menu li ul a{
			width:150px;
			text-align:left;
			line-height:40px;
			}
#tooplate_menu li ul a:hover{
			width:110px;
			line-height:40px;
			text-align:left;
			}			
#tooplate_menu li ul{                /*to make down and give width and margin from the top*/
				margin-top:50px;
				width:150px;
				}
#tooplate_menu li:hover ul, #topnav li li:hover ul{left:auto;}
#tooplate_menu li:hover{position:static;}
#tooplate_menu li.last{margin:0;}
.image2{
		border: 1px solid black; 
		border-radius: 20px;
		}
.image2:hover{
		border: 1px solid #561904;
		}
.image1{
		border-radius:10px;
		width:100%;
		height:104%;
       }
#viewdorm{
		padding-left:300px;
         }
#down:hover{
		background-color: green;
}

