
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
}

a {
	text-decoration: none;
	color: #4486C7;
}
a:hover {
text-decoration:underline;
	color: #8A8A8A;
}
/* Header */
#Header {
	width: 820px;
	height: 0px;
	margin: 0 auto;
	background: url(img/Header.jpg);
}
/* Menu */

#Menus {
	width: 850px;
	height:47px;
	margin: 0 auto;
	padding: 0;
	background: url(img/Menu.jpg);
}

#Menus ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#Menus li {
	float: left;
}

#Menus a {
	display: block;
	width: 80px;
	height: 31px;
	padding-top: 16px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: none;
	color:white;
}
#menu-bar a {
  font-weight: italic;
  font-family: italic;
  font-style: normal;
  font-size: 10px;
  color:#4169E1;
  text-decoration: none;
  display: block;
  padding: 5px 20px 5px 20px;
  margin: 0;
  text-shadow: 1px 1px 1px #121212;
  background: white
  
 
}
#menu-bar a:hover {
  background:#800080!important;
  color:black !important;
 
}

#Menus a:Hover {
background-image: url(img/Hover.jpg);
color:black;
color: #30476A;

}
#Menus .active a {
	background: #FBFBFC url(img/Active.jpg)  repeat-x left bottom;
	padding-left: 0;
	color: #30476A;
}
#Footer {
    padding-top:138px;
	height: 50px;
	margin: 0 auto;
	margin-top:12px;
	padding: 0px 0 15px 0;
	background: #D8E7FE;
	border-top: 1px solid #D3DEF0;
	text-align:center;
	color:gray;
}
